body {
  background-color: blue;
}

#clockFace {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 20px;
  line-height: 50px;
  border-color: white;
  padding: 10px 18px;
  position: relative;
  margin: auto;
}

#secondHand {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 0.5vw;
  height: 24vw;
  background: black;
  transform-origin: right bottom;
  transform: rotate(0deg);
  /* transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); */
}

#minuteHand {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 0.7vw;
  height: 24vw;
  background: black;
  transform-origin: right bottom;
  transform: rotate(0deg);
}

#hourHand {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 0.7vw;
  height: 24vw;
  background: black;
  transform-origin: right bottom;
  transform: rotate(0deg);
}
